/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdddb3;
}

header {
    background: #250424;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    padding: 20px;
}

.intro h1 {
    font-size: 2.5em;
    animation: fadeIn 2s;
}

.intro p {
    font-size: 1.2em;
    animation: fadeIn 3s;
}

.about-section, .skills-section, .projects-section, .resume-section, .contact-section {
    padding: 50px 20px;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-img {
    border-radius: 50%;
    margin-right: 20px;
    animation: fadeIn 2s;
}

.skills-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-list li {
    margin: 10px 20px;
    font-size: 1.2em;
    animation: fadeIn 3s;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-item {
    max-width: 300px;
    margin: 20px;
    animation: fadeIn 2s;
}

.project-item img {
    width: 100%;
    height: auto;
}

.btn {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    animation: fadeIn 3s;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .about-content {
        flex-direction: column;
    }

    .profile-img {
        margin-bottom: 20px;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}
